# The following workflow is based on the example provided by
# haskell-actions/setup:
#
# https://github.com/haskell-actions/setup#model-cabal-workflow-with-caching

name: CI

on: 
  pull_request: 
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc-version: 
          - '8.8'
          - '8.10' 
          - '9.4'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Haskell tools
        uses: haskell-actions/setup@v2
        id: setup
        with:
          ghc-version: ${{ matrix.ghc-version }}
          cabal-version: 'latest'
          cabal-update: true
      - name: Configure the build
        run: |
          cabal configure --enable-tests --disable-documentation
          cabal build all --dry-run
      - name: Restore cached dependencies
        uses: actions/cache/restore@v4
        id: cache
        env:
          key: ${{ runner.os }}-ghc-${{ steps.setup.outputs.ghc-version }}-cabal-${{ steps.setup.outputs.cabal-version }}
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: ${{ env.key }}-plan-${{ hashFiles('**/plan.json') }}
          restore-keys: ${{ env.key }}-
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: cabal build all --only-dependencies
      - name: Save cached dependencies
        uses: actions/cache/save@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: ${{ steps.cache.outputs.cache-primary-key }}
      - name: Build
        run: cabal build all
      - name: Run tests
        run: cabal test all
        env:
          ROLLBAR_TOKEN: ${{ secrets.ROLLBAR_TOKEN }}
