name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ['8.8', '8.10', '9.0', '9.2', '9.4', 'latest']

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-haskell@v1
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: 'latest'
      - uses: actions/cache@v2.1.4
        with:
          path: ~/.cabal
          key: cabal--${{ matrix.ghc }}-${{ hashFiles('*/*.cabal') }}
          restore-keys: |
            cabal--${{ matrix.ghc }}-${{ hashFiles('*/*.cabal') }}
            cabal--${{ matrix.ghc }}-
            cabal-
      - run: cabal update
      - run: cabal configure --enable-tests -fexample
      - run: cabal build all --only-dependencies
      - run: cabal build all
      - run: cabal test all
        env:
          ROLLBAR_TOKEN: ${{ secrets.ROLLBAR_TOKEN }}
